<% provide(:title, "A Hub Of Cover Songs From Talented Artists Who Deserve Musical Recognition") %>

<div class="jumbotron">
  <div class="container">
    <h1>Share your videos with the world!</h1>
    <p>Click the button below to share your video from YouTube.</p>
    <p>
      <%= link_to 'Add video now!', new_video_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<% if @videos.any? %>
  <div class="container">
    <h1>Trending videos</h1>
 
    <div id="player-wrapper"></div>
 
    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">

                <%= link_to video.link do %> 
                  <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-rounded', :"data-uid" => video.uid %> 
                <% end %>

                <h5><span class="highlightme"><%= video.duration %></span></h5>
                <div class="caption">
                  <h3><%= video.title %></h3>
                  <h4>Author: <b><%= video.author %></b></h4>
                  
                  <h4>
                    <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> 
                      <%= video.likes %>
                    <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> 
                      <%= video.dislikes %>
                  </h4>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>