<% provide(:title, "A Hub Of Cover Songs From Talented Artists Who Deserve Musical Recognition") %>

<div class="jumbotron">
  <div class="container">
    <h1w><b>GOOD MUSIC IS GOOD MUSIC.</b></h1w>
    <p><b>If you know an artist who deserves musical recognition, let's share their music and expose their talent. The only thing that can happen overnight is recognition. The talent was always in us.</b></p> 
    <br>
    <p>
      <%= link_to 'Share music!', new_video_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>

<% if @videos.any? %>
  <div class="container-fluid">
    <h1>Trending videos</h1>
 
    <div id="player-wrapper"></div>
    <br></br>
    <%= will_paginate %>
    <% @videos.in_groups_of(3) do |group| %>
      <div class="row">
        <% group.each do |video| %>
          <% if video %>
            <div class="col-md-4">
              <div class="yt_video thumbnail">

                <%= link_to video.link do %> 
                  <%= image_tag "https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg", alt: video.title, class: 'yt_preview img-rounded', :"data-uid" => video.uid %> 
                <% end %>

                <h5><span class="highlightme"><%= video.duration %></span></h5>

                <div class="caption">
                  <div class="text_overflow">
                    <h3><%= video.title %></h3>
                  </div>
                  <h4>Artist: <b><%= video.author %></b></h4>
                  
                    <h4>
                      <span class="glyphicon glyphicon-eye-open"></span> 
                        <%= video.views %>
                      <div class="pull-right">
                        <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> 
                          <%= video.likes %>
                        <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> 
                          <%= video.dislikes %>
                      </div>
                    </h4>

                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <%= will_paginate %>
  </div>
<% end %>